{% extends "base.html" %}

{% block title %}
View Report
{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'django-pathfinder-statcrunch-list-reports' %}">Pathfinder Reports</a></li>
{% endblock %}

{% block breadcrumb %}
View Report
{% endblock %}

{% block description %}
View Report
<a href="{% url 'django-pathfinder-statcrunch-view-report-refresh' pk %}"><i class="fa fa-refresh"></i></a>
{% endblock %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            Character Statistics
        </h3>
    </div>
    <div class="card-body">
        <table class="datatable table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Character</th>
                    <th>Corporation</th>
                    <th>Signatures</th>
                </tr>
            </thead>
            <tbody>
                {% for character,value in characters.items %}
                <tr>
                    <td>
                        {{character}}
                    </td>
                    <td>
                        {{value.corporation}}
                    </td>
                    <td>
                        {{value.signatures}}
                    </td>
                </tr>
                {% endfor %}
                <!-- Bottom Divider -->

            </tbody>
        </table>
    </div>
</div>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            Character Statistics
        </h3>
    </div>
    <div class="card-body">
        <table class="datatable table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Corporation</th>
                    <th>Signatures per Player</th>
                    <th>Signatures</th>
                </tr>
            </thead>
            <tbody>
                {% for corporation,value in corporations.items %}
                <tr>
                    <td>
                        {{corporation}}
                    </td>
                    <td>
                        {{value.signatures_per_capita |floatformat}}
                    </td>
                    <td>
                        {{value.signatures}}
                    </td>
                </tr>
                {% endfor %}
                <!-- Bottom Divider -->

            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('table').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[2, "desc"]]
        })
    })
</script>
{% endblock %}